/*Encabezados*/
@font-face {
    font-family: 'Montserrat-encabezados';
    src: url(./Montserrat/Montserrat-BlackItalic.ttf);
}

/*Parrafos*/
@font-face {
    font-family: 'Montserrat-parrafos';
    src: url(./Montserrat/Montserrat-Italic.ttf);
}


/*HEADER*/
header{
    .navbar{
        .container-fluid{
            .collapse{
                ul{
                    li{
                        font-family: 'Montserrat-parrafos';
                    }
                }
            }

        }

    }
}

/*INDEX*/
.main-index {
    background: rgb(204, 202, 202);
    background: radial-gradient(circle, rgba(204, 202, 202, 1) 0%, rgba(224, 16, 16, 1) 100%);

    section {
        h1 {
            font-family: 'Montserrat-encabezados';
            text-align: center;
            text-justify: distribute;
            text-size-adjust: 30px;
            padding-top: 10px;
        }

        p {
            font-family: 'Montserrat-parrafos';
            font-weight: lighter;
            font-size: large;
            padding: 5px;
            text-align: center;
            text-justify: distribute;
        }

    }

    .video {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
    }

    .redes-sociales {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        margin: 15px;

        .Instagram-div {
            padding: 25px;
        }

        .Facebook-div {
            padding: 25px;
        }

        .Google-div {
            padding: 25px;
        }
    }

}

/*PRODUCTOS*/
.main-productos {
    background: rgb(204, 202, 202);
    background: radial-gradient(circle, rgba(204, 202, 202, 1) 0%, rgba(224, 16, 16, 1) 100%);

    .encabezado-productos {
        padding: 10px;

        h1 {
            font-family: 'Montserrat-encabezados';
            text-align: center;
            padding-top: 10px;
        }
    }

    .tienda {
        .container-items {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);
            grid-area: auto;
            gap: 1rem;
            padding: 10px;

            .item {
                border-radius: 10px;


                figure {
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 10px 10px 0 0;
                        transition: all .5s;
                    }
                }

                .producto {
                    padding: 15px 30px;
                    line-height: 2;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    justify-content: center;
                    align-items: center;

                    .precio {
                        font-size: 18px;
                        font-weight: 900;
                    }

                    .comprar {
                        a {
                            background-color: black;
                            padding: 10px;
                            color: white;
                            text-decoration: none;
                        }

                    }

                }
            }

            .item:hover {
                box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);

                img {
                    transform: scale(1.2);
                }
            }
        }
    }

}







/*NOSOTROS*/
.main-nosotros {
    background: rgb(204, 202, 202);
    background: radial-gradient(circle, rgba(204, 202, 202, 1) 0%, rgba(224, 16, 16, 1) 100%);


    section {
        h1 {
            font-family: 'Montserrat-encabezados';
            text-align: center;
            padding-top: 10px;
        }
    }

    .info-nosotros {
        p {
            font-family: 'Montserrat-parrafos';
            font-size: larger;
            text-align: center;
            font-weight: 500;
            padding: 10px;
        }
    }
}

/*CONTACTO*/
.main-contacto {
    background: rgb(204, 202, 202);
    background: radial-gradient(circle, rgba(204, 202, 202, 1) 0%, rgba(224, 16, 16, 1) 100%);
    display: inline-block;

    section {
        .h1-contacto {
            font-family: 'Montserrat-encabezados';
            text-align: center;
            padding: 10px;
        }

    }

    .seccion-mapa {
        .mapa {
            display: flex;
            justify-content: center;
            align-content: center;
            margin: 10px;
            float: left;
        }

        .info-contacto {
            font-family: 'Montserrat-parrafos';
            text-align: justify;
            padding: 10px;
        }
    }

    .medios {
        .medios-text {
            h3 {
                font-family: 'Montserrat-encabezados';
                text-align: center;
                padding-top: 15px;
            }

            p {
                font-family: 'Montserrat-parrafos';
                text-align: center;
                padding: 5px;
                font-weight: lighter;
                font-size: larger;
            }
        }

        .logos-contactos {
            display: flex;
            flex-direction: row;
            justify-content: center;

            .whatsapp {
                padding: 15px;

                a {
                    img {
                        width: 100px;
                        height: 100px;

                    }
                }
            }

            .celular {
                padding: 15px;

                a {
                    img {
                        width: 100px;
                        height: 100px;

                    }
                }
            }

            .telefono-fijo {
                padding: 15px;

                a {
                    img {
                        width: 100px;
                        height: 100px;

                    }
                }
            }
        }
    }

    .formulario-contacto {
        $fuente-principal: 'Montserrat-encabezados';
        $color-principal: #455a64;
        $bk1: 700px;

        *,
        *::before,
        ::after {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        padding-top: 25px;

        .contenedor {
            max-width: 1170px;
            margin: 0 auto 1rem;
            padding: 1.5rem;

            .logo {
                font-family: 'Montserrat-encabezados';
                text-align: center;
                margin-bottom: 1rem;

                .nombre-empresa {
                    color: black;
                }
            }

            .wrapper {
                box-shadow: 0 0 20px 0 rgba($color-principal, .7);
                border-radius: 5px;

                @media screen and (min-width: $bk1) {
                    display: grid;
                    grid-template-columns: 1fr 2fr;
                }

                .contacto {
                    padding: 1rem;
                    background-color: lighten($color-principal, 60%);

                    h3 {
                        font-family: 'Montserrat-encabezados';
                        margin-bottom: 1rem;
                    }

                    .formulario {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        grid-gap: 1.25rem;

                        label {
                            font-family: 'Montserrat-parrafos';
                            display: block;
                        }

                        button,
                        input,
                        textarea {
                            width: 100%;
                            padding: 1rem;
                            border: 1px solid lighten($color-principal, 50%);
                        }

                        textarea {
                            resize: none;
                        }

                        .full {
                            grid-column: 1 / 3;
                        }

                        .boton-enviar {
                            font-family: 'Montserrat-parrafos';
                            background-color: lighten($color-principal, 50%);
                            border: none;
                            border-radius: 5px;
                            text-transform: uppercase;
                            font-weight: bold;
                            cursor: pointer;

                            &:focus,
                            &:hover {
                                background-color: $color-principal;
                                color: #fff;
                                outline: 0;
                                transition: background-color 2s ease-out;
                            }
                        }
                    }
                }

                .info-empresa {

                    padding: 1rem;
                    background-color: lighten($color-principal, 50%);

                    h3 {
                        font-family: 'Montserrat-encabezados';

                        @media screen and (min-width: $bk1) {
                            text-align: left;
                            margin-bottom: 0.5rem;
                        }

                        text-align: center;
                    }

                    .servicios {
                        font-family: 'Montserrat-parrafos';
                        list-style: none;
                        text-align: center;

                        @media screen and (min-width: $bk1) {
                            text-align: left;
                        }
                    }
                }
            }
        }

    }

}

/*SERVICIOS*/
.main-servicios {
    background: rgb(204, 202, 202);
    background: radial-gradient(circle, rgba(204, 202, 202, 1) 0%, rgba(224, 16, 16, 1) 100%);
    padding-bottom: 10px;

    section {
        h1 {
            font-family: 'Montserrat-encabezados';
            padding: 25px;
            text-align: center;
            font-weight: bolder;
        }

    }

    .servicios {
        .row{
            width: 100%;
            padding-left: 25px;
            .col{
                .card{
                    background-color: rgb(204, 202, 202);
                    .card-body{
                        .card-title{
                            font-family: 'Montserrat-encabezados';
                            
                        }
                        .card-text{
                                font-family: 'Montserrat-parrafos';
                            }
                    }
                }
            }
        }
    }
}

/*Footer*/
footer {
    background-color: white;


    .Section-footer {
        padding-top: 5px;
        border-top: 3px solid black;

        h5 {
            font-family: 'Montserrat-encabezados';
            text-align: center;
        }

        p {
            font-family: 'Montserrat-parrafos';
            font-weight: bolder;
            text-align: center;
            text-justify: distribute;
        }
    }

    .Section-footer-img {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;

        div {
            img {
                display: flex;
                flex-direction: row;
                width: 45%;
                align-content: center;
                justify-content: center;
                margin-left: 35%;
                margin-top: 5%;
            }

        }
    }
}

/*MEDIA QUERIES*/

/*Mobile*/
@media only screen and (min-width:320px) and (max-width:500px) {

    /*HEADER*/
    .navbar {
        .container-fluid {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .navbar-brand {
                display: flex;
                justify-content: center;
                align-items: center;

                .Logo-nav {
                    width: 45%;
                    margin: 5%;
                }
            }

        }

    }


    /*SERVICIOS*/
    .main-servicios {
        .servicios {
            div {
                .centradora {
                    img {
                        width: 100%;
                    }
                }

                .balanceadora {
                    img {
                        width: 100%;
                    }
                }

                .cubiertas {
                    img {
                        width: 100%;
                    }
                }
            }
        }

    }


    /*FOOTER*/

    footer {
        .Section-footer {
            h5 {
                font-size: medium;
            }

            p {
                font-size: small;
            }
        }
    }


    /*CONTACTOS*/
    .main-contacto {
        .seccion-mapa {
            display: flex;
            flex-direction: column;
            

            .mapa {
                margin: 5px;
                padding-left: 28px;
                width: auto;
                display: flex;
                flex-direction: column;
                

            }

            .info-contacto {
                text-align: center;
            }

        }

        .medios {
            display: inline-block;
            justify-content: center;

            .logos-contactos {


                .whatsapp {
                    padding: 5px;
                    width: 100px;
                }

                .telefono-fijo {
                    padding: 5px;
                    width: 100px;
                }

                .celular {
                    padding: 5px;
                    width: 100px;
                }

            }
        }
    }
}







/*PRODUCTOS*/
.main-productos {
    background: rgb(204, 202, 202);
    background: radial-gradient(circle, rgba(204, 202, 202, 1) 0%, rgba(224, 16, 16, 1) 100%);

    .encabezado-productos {
        padding: 10px;

        h1 {
            font-family: 'Montserrat-encabezados';
            text-align: center;
            padding-top: 10px;
        }
    }

    .tienda {
        .container-items {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            gap: 10px;
            padding: 1em;
            max-width: 70rem;

            .item {
                border-radius: 10px;


                figure {
                    overflow: hidden;


                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 10px 10px 0 0;
                        transition: all .5s;
                    }
                }

                .producto {
                    padding: 15px 30px;
                    line-height: 2;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    justify-content: center;
                    align-items: center;

                    .precio {
                        font-size: 18px;
                        font-weight: 900;
                    }

                    .comprar {
                        a {
                            background-color: black;
                            padding: 10px;
                            color: white;
                            text-decoration: none;
                        }

                    }

                }
            }

            .item:hover {
                box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);

                img {
                    transform: scale(1.2);
                }
            }
        }
    }

}


/*Tablet*/
@media only screen and (min-width:501px) and (max-width:992px) {

    /*HEADER*/
    header {
        .navbar {
            .container-fluid {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .navbar-brand {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .Logo-nav {
                    width: 45%;
                    margin: 5%;
                }
            }
        }

    }


    /*CONTACTO*/
    .main-contacto {
        .seccion-mapa {
            display: flex;
            flex-direction: column;

            .mapa {
                display: flex;
                margin: 5px;
                flex-direction: row;
                justify-content: center;
                width: 100%;
            }

            .info-contacto {
                text-align: center;
            }
        }

    }

    /*PRODUCTOS*/
    .main-productos {
        background: rgb(204, 202, 202);
        background: radial-gradient(circle, rgba(204, 202, 202, 1) 0%, rgba(224, 16, 16, 1) 100%);

        .encabezado-productos {
            padding: 10px;

            h1 {
                font-family: 'Montserrat-encabezados';
                text-align: center;
                padding-top: 10px;
            }
        }

        .tienda {
            .container-items {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
                gap: 10px;
                padding: 1em;
                max-width: 70rem;

                .item {
                    border-radius: 10px;


                    figure {
                        overflow: hidden;


                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 10px 10px 0 0;
                            transition: all .5s;
                        }
                    }

                    .producto {
                        padding: 15px 30px;
                        line-height: 2;
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        justify-content: center;
                        align-items: center;

                        .precio {
                            font-size: 18px;
                            font-weight: 900;
                        }

                        .comprar {
                            a {
                                background-color: black;
                                padding: 10px;
                                color: white;
                                text-decoration: none;
                            }

                        }

                    }
                }

                .item:hover {
                    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);

                    img {
                        transform: scale(1.2);
                    }
                }
            }
        }

    }
}



/*Desktop*/
@media only screen and (min-width:992px) {

    /*HEADER*/
    .navbar {
        .container-fluid {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            .navbar-brand {
                .Logo-nav {
                    width: 70%;
                }
            }

            .collapse {
                margin-left: 45%;
            }
        }
    }

    /*FOOTER*/
    footer {
        .Section-footer-img {
            div {
                img {
                    width: 30%;
                }
            }
        }
    }


}