/*Encabezados*/
@font-face {
  font-family: "Montserrat-encabezados";
  src: url(./Montserrat/Montserrat-BlackItalic.ttf);
}
/*Parrafos*/
@font-face {
  font-family: "Montserrat-parrafos";
  src: url(./Montserrat/Montserrat-Italic.ttf);
}
/*INDEX*/
.main-index {
  background: rgb(204, 202, 202);
  background: radial-gradient(circle, rgb(204, 202, 202) 0%, rgb(224, 16, 16) 100%);
}
.main-index section h1 {
  font-family: "Montserrat-encabezados";
  text-align: center;
  text-justify: distribute;
  -webkit-text-size-adjust: 30px;
     -moz-text-size-adjust: 30px;
          text-size-adjust: 30px;
  padding-top: 10px;
}
.main-index section p {
  font-family: "Montserrat-parrafos";
  font-weight: lighter;
  font-size: large;
  padding: 5px;
  text-align: center;
  text-justify: distribute;
}
.main-index .video {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}
.main-index .redes-sociales {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  margin: 15px;
}
.main-index .redes-sociales .Instagram-div {
  padding: 25px;
}
.main-index .redes-sociales .Facebook-div {
  padding: 25px;
}
.main-index .redes-sociales .Google-div {
  padding: 25px;
}

/*PRODUCTOS*/
.main-productos {
  background: rgb(204, 202, 202);
  background: radial-gradient(circle, rgb(204, 202, 202) 0%, rgb(224, 16, 16) 100%);
}
.main-productos .encabezado-productos {
  padding: 10px;
}
.main-productos .encabezado-productos h1 {
  font-family: "Montserrat-encabezados";
  text-align: center;
  padding-top: 10px;
}
.main-productos .tienda .container-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-area: auto;
  gap: 1rem;
  padding: 10px;
}
.main-productos .tienda .container-items .item {
  border-radius: 10px;
}
.main-productos .tienda .container-items .item figure {
  overflow: hidden;
}
.main-productos .tienda .container-items .item figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px 10px 0 0;
  transition: all 0.5s;
}
.main-productos .tienda .container-items .item .producto {
  padding: 15px 30px;
  line-height: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.main-productos .tienda .container-items .item .producto .precio {
  font-size: 18px;
  font-weight: 900;
}
.main-productos .tienda .container-items .item .producto .comprar a {
  background-color: black;
  padding: 10px;
  color: white;
  text-decoration: none;
}
.main-productos .tienda .container-items .item:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.main-productos .tienda .container-items .item:hover img {
  transform: scale(1.2);
}

/*NOSOTROS*/
.main-nosotros {
  background: rgb(204, 202, 202);
  background: radial-gradient(circle, rgb(204, 202, 202) 0%, rgb(224, 16, 16) 100%);
}
.main-nosotros section h1 {
  font-family: "Montserrat-encabezados";
  text-align: center;
  padding-top: 10px;
}
.main-nosotros .info-nosotros p {
  font-family: "Montserrat-parrafos";
  font-size: larger;
  text-align: center;
  font-weight: 500;
  padding: 10px;
}

/*CONTACTO*/
.main-contacto {
  background: rgb(204, 202, 202);
  background: radial-gradient(circle, rgb(204, 202, 202) 0%, rgb(224, 16, 16) 100%);
  display: inline-block;
}
.main-contacto section .h1-contacto {
  font-family: "Montserrat-encabezados";
  text-align: center;
  padding: 10px;
}
.main-contacto .seccion-mapa .mapa {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 10px;
  float: left;
}
.main-contacto .seccion-mapa .info-contacto {
  font-family: "Montserrat-parrafos";
  text-align: justify;
  padding: 10px;
}
.main-contacto .medios .medios-text h3 {
  font-family: "Montserrat-encabezados";
  text-align: center;
  padding-top: 15px;
}
.main-contacto .medios .medios-text p {
  font-family: "Montserrat-parrafos";
  text-align: center;
  padding: 5px;
  font-weight: lighter;
  font-size: larger;
}
.main-contacto .medios .logos-contactos {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.main-contacto .medios .logos-contactos .whatsapp {
  padding: 15px;
}
.main-contacto .medios .logos-contactos .whatsapp a img {
  width: 100px;
  height: 100px;
}
.main-contacto .medios .logos-contactos .celular {
  padding: 15px;
}
.main-contacto .medios .logos-contactos .celular a img {
  width: 100px;
  height: 100px;
}
.main-contacto .medios .logos-contactos .telefono-fijo {
  padding: 15px;
}
.main-contacto .medios .logos-contactos .telefono-fijo a img {
  width: 100px;
  height: 100px;
}
.main-contacto .formulario-contacto {
  padding-top: 10px;
}
.main-contacto .formulario-contacto *,
.main-contacto .formulario-contacto *::before,
.main-contacto .formulario-contacto ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.main-contacto .formulario-contacto .contenedor {
  max-width: 1170px;
  margin: 0 auto 1rem;
  padding: 1.5rem;
}
.main-contacto .formulario-contacto .contenedor .logo {
  font-family: "Montserrat-encabezados";
  text-align: center;
  margin-bottom: 1rem;
}
.main-contacto .formulario-contacto .contenedor .logo .nombre-empresa {
  color: black;
}
.main-contacto .formulario-contacto .contenedor .wrapper {
  box-shadow: 0 0 20px 0 rgba(69, 90, 100, 0.7);
  border-radius: 5px;
}
@media screen and (min-width: 700px) {
  .main-contacto .formulario-contacto .contenedor .wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}
.main-contacto .formulario-contacto .contenedor .wrapper .contacto {
  padding: 1rem;
  background-color: #eaeff1;
}
.main-contacto .formulario-contacto .contenedor .wrapper .contacto h3 {
  font-family: "Montserrat-encabezados";
  margin-bottom: 1rem;
}
.main-contacto .formulario-contacto .contenedor .wrapper .contacto .formulario {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.25rem;
}
.main-contacto .formulario-contacto .contenedor .wrapper .contacto .formulario label {
  font-family: "Montserrat-parrafos";
  display: block;
}
.main-contacto .formulario-contacto .contenedor .wrapper .contacto .formulario button,
.main-contacto .formulario-contacto .contenedor .wrapper .contacto .formulario input,
.main-contacto .formulario-contacto .contenedor .wrapper .contacto .formulario textarea {
  width: 100%;
  padding: 1rem;
  border: 1px solid #ccd7dc;
}
.main-contacto .formulario-contacto .contenedor .wrapper .contacto .formulario textarea {
  resize: none;
}
.main-contacto .formulario-contacto .contenedor .wrapper .contacto .formulario .full {
  grid-column: 1/3;
}
.main-contacto .formulario-contacto .contenedor .wrapper .contacto .formulario .boton-enviar {
  font-family: "Montserrat-parrafos";
  background-color: #ccd7dc;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}
.main-contacto .formulario-contacto .contenedor .wrapper .contacto .formulario .boton-enviar:focus, .main-contacto .formulario-contacto .contenedor .wrapper .contacto .formulario .boton-enviar:hover {
  background-color: #455a64;
  color: #fff;
  outline: 0;
  transition: background-color 2s ease-out;
}
.main-contacto .formulario-contacto .contenedor .wrapper .info-empresa {
  padding: 1rem;
  background-color: #ccd7dc;
}
.main-contacto .formulario-contacto .contenedor .wrapper .info-empresa h3 {
  font-family: "Montserrat-encabezados";
  text-align: center;
}
@media screen and (min-width: 700px) {
  .main-contacto .formulario-contacto .contenedor .wrapper .info-empresa h3 {
    text-align: left;
    margin-bottom: 0.5rem;
  }
}
.main-contacto .formulario-contacto .contenedor .wrapper .info-empresa .servicios {
  font-family: "Montserrat-parrafos";
  list-style: none;
  text-align: center;
}
@media screen and (min-width: 700px) {
  .main-contacto .formulario-contacto .contenedor .wrapper .info-empresa .servicios {
    text-align: left;
  }
}

/*SERVICIOS*/
.main-servicios {
  background: rgb(204, 202, 202);
  background: radial-gradient(circle, rgb(204, 202, 202) 0%, rgb(224, 16, 16) 100%);
  padding-bottom: 10px;
}
.main-servicios section h1 {
  font-family: "Montserrat-encabezados";
  padding: 25px;
  text-align: center;
  font-weight: bolder;
}
.main-servicios .servicios .row {
  width: 100%;
  padding-left: 25px;
}
.main-servicios .servicios .row .col .card {
  background-color: rgb(204, 202, 202);
}
.main-servicios .servicios .row .col .card .card-body .card-title {
  font-family: "Montserrat-encabezados";
}
.main-servicios .servicios .row .col .card .card-body .card-text {
  font-family: "Montserrat-parrafos";
}

/*Footer*/
footer {
  background-color: white;
}
footer .Section-footer {
  padding-top: 5px;
  border-top: 3px solid black;
}
footer .Section-footer h5 {
  font-family: "Montserrat-encabezados";
  text-align: center;
}
footer .Section-footer p {
  font-family: "Montserrat-parrafos";
  font-weight: bolder;
  text-align: center;
  text-justify: distribute;
}
footer .Section-footer-img {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}
footer .Section-footer-img div img {
  display: flex;
  flex-direction: row;
  width: 45%;
  align-content: center;
  justify-content: center;
  margin-left: 35%;
  margin-top: 5%;
}

/*MEDIA QUERIES*/
/*Mobile*/
@media only screen and (min-width: 320px) and (max-width: 500px) {
  /*HEADER*/
  .navbar .container-fluid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .navbar .container-fluid .navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbar .container-fluid .navbar-brand .Logo-nav {
    width: 45%;
    margin: 5%;
  }
  /*SERVICIOS*/
  .main-servicios .servicios div .centradora img {
    width: 100%;
  }
  .main-servicios .servicios div .balanceadora img {
    width: 100%;
  }
  .main-servicios .servicios div .cubiertas img {
    width: 100%;
  }
  /*FOOTER*/
  footer .Section-footer h5 {
    font-size: medium;
  }
  footer .Section-footer p {
    font-size: small;
  }
  /*CONTACTOS*/
  .main-contacto .seccion-mapa {
    display: flex;
    flex-direction: column;
  }
  .main-contacto .seccion-mapa .mapa {
    margin: 5px;
    padding-left: 28px;
    width: auto;
    display: flex;
    flex-direction: column;
  }
  .main-contacto .seccion-mapa .info-contacto {
    text-align: center;
  }
  .main-contacto .medios {
    display: inline-block;
    justify-content: center;
  }
  .main-contacto .medios .logos-contactos .whatsapp {
    padding: 5px;
    width: 100px;
  }
  .main-contacto .medios .logos-contactos .telefono-fijo {
    padding: 5px;
    width: 100px;
  }
  .main-contacto .medios .logos-contactos .celular {
    padding: 5px;
    width: 100px;
  }
}
/*PRODUCTOS*/
.main-productos {
  background: rgb(204, 202, 202);
  background: radial-gradient(circle, rgb(204, 202, 202) 0%, rgb(224, 16, 16) 100%);
}
.main-productos .encabezado-productos {
  padding: 10px;
}
.main-productos .encabezado-productos h1 {
  font-family: "Montserrat-encabezados";
  text-align: center;
  padding-top: 10px;
}
.main-productos .tienda .container-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  padding: 1em;
  max-width: 70rem;
}
.main-productos .tienda .container-items .item {
  border-radius: 10px;
}
.main-productos .tienda .container-items .item figure {
  overflow: hidden;
}
.main-productos .tienda .container-items .item figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px 10px 0 0;
  transition: all 0.5s;
}
.main-productos .tienda .container-items .item .producto {
  padding: 15px 30px;
  line-height: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.main-productos .tienda .container-items .item .producto .precio {
  font-size: 18px;
  font-weight: 900;
}
.main-productos .tienda .container-items .item .producto .comprar a {
  background-color: black;
  padding: 10px;
  color: white;
  text-decoration: none;
}
.main-productos .tienda .container-items .item:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.main-productos .tienda .container-items .item:hover img {
  transform: scale(1.2);
}

/*Tablet*/
@media only screen and (min-width: 501px) and (max-width: 992px) {
  /*HEADER*/
  header .navbar .container-fluid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  header .navbar .container-fluid .navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header .navbar .container-fluid .Logo-nav {
    width: 45%;
    margin: 5%;
  }
  /*CONTACTO*/
  .main-contacto .seccion-mapa {
    display: flex;
    flex-direction: column;
  }
  .main-contacto .seccion-mapa .mapa {
    display: flex;
    margin: 5px;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  .main-contacto .seccion-mapa .info-contacto {
    text-align: center;
  }
  /*PRODUCTOS*/
  .main-productos {
    background: rgb(204, 202, 202);
    background: radial-gradient(circle, rgb(204, 202, 202) 0%, rgb(224, 16, 16) 100%);
  }
  .main-productos .encabezado-productos {
    padding: 10px;
  }
  .main-productos .encabezado-productos h1 {
    font-family: "Montserrat-encabezados";
    text-align: center;
    padding-top: 10px;
  }
  .main-productos .tienda .container-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    padding: 1em;
    max-width: 70rem;
  }
  .main-productos .tienda .container-items .item {
    border-radius: 10px;
  }
  .main-productos .tienda .container-items .item figure {
    overflow: hidden;
  }
  .main-productos .tienda .container-items .item figure img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all 0.5s;
  }
  .main-productos .tienda .container-items .item .producto {
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
  .main-productos .tienda .container-items .item .producto .precio {
    font-size: 18px;
    font-weight: 900;
  }
  .main-productos .tienda .container-items .item .producto .comprar a {
    background-color: black;
    padding: 10px;
    color: white;
    text-decoration: none;
  }
  .main-productos .tienda .container-items .item:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  .main-productos .tienda .container-items .item:hover img {
    transform: scale(1.2);
  }
}
/*Desktop*/
@media only screen and (min-width: 992px) {
  /*HEADER*/
  .navbar .container-fluid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .navbar .container-fluid .navbar-brand .Logo-nav {
    width: 70%;
  }
  .navbar .container-fluid .collapse {
    margin-left: 45%;
  }
  /*FOOTER*/
  footer .Section-footer-img div img {
    width: 30%;
  }
}/*# sourceMappingURL=style.css.map */