/*FONTS*/
@font-face {
  font-family: "Montserrat-encabezados";
  src: url(./Montserrat/Montserrat-BlackItalic.ttf);
}
@font-face {
  font-family: "Montserrat-parrafos";
  src: url(./Montserrat/Montserrat-Italic.ttf);
}
/*MAIN-GENERAL*/
main {
  background-color: #ff0000;
  padding-top: 20px;
  border-top: 3px solid black;
}

/*FOOTER*/
footer .Section-footer {
  text-align: center;
  text-justify: distribute;
  padding-top: 15px;
  border-top: 3px solid black;
}
footer .Section-footer h5 {
  font-family: "Montserrat-encabezados";
  font-weight: bolder;
}
footer .Section-footer p {
  font-family: "Montserrat-parrafos";
  font-weight: bolder;
}
footer .Section-footer-img {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}
footer .Section-footer-img div img {
  display: flex;
  flex-direction: row;
  width: 45%;
  align-content: center;
  justify-content: center;
  margin-left: 35%;
  margin-top: 5%;
}

/*MAIN-INDEX*/
.Main-index section .Encabezados-h1 {
  font-family: "Montserrat-encabezados";
  text-align: center;
  text-justify: distribute;
  -webkit-text-size-adjust: 30px;
     -moz-text-size-adjust: 30px;
          text-size-adjust: 30px;
}
.Main-index section .Parrafos {
  font-family: "Montserrat-parrafos";
  text-align: center;
  text-justify: distribute;
}
.Main-index .video {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}
.Main-index section .redes-sociales {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  margin: 15px;
}
.Main-index section .redes-sociales .Instagram-div {
  padding: 25px;
}
.Main-index section .redes-sociales .Facebook-div {
  padding: 25px;
}
.Main-index section .redes-sociales .Google-div {
  padding: 25px;
}

/*PRODUCTOS*/
.encabezado-productos {
  font-family: "Montserrat-encabezados";
  text-align: center;
}

.section-productos .container-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-area: auto;
  gap: 20px;
  padding: 10px;
}
.section-productos .container-items .item {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px 10px 0 0;
  transition: all 0.5s;
  border-radius: 10px;
}
.section-productos .container-items .item figure {
  overflow: hidden;
}
.section-productos .container-items .item figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px 10px 0 0;
  transition: all 0.5s;
}
.section-productos .container-items .item:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.section-productos .container-items .item:hover img {
  transform: scale(1.2);
}
.section-productos .container-items .producto {
  font-size: 18px;
  font-weight: 900;
  position: relative;
}
.section-productos .container-items .comprar {
  background-color: black;
  color: white;
  padding: 8px;
  text-decoration: none;
}

/*CONTACTO*/
main section .h1-contacto {
  font-family: "Montserrat-encabezados";
  text-align: center;
  padding: 10px;
}
main .seccion-mapa .mapa {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 10px;
  float: left;
}
main .seccion-mapa .info-contacto {
  font-family: "Montserrat-parrafos";
  text-align: justify;
}

/*NOSOTROS*/
main section h1 {
  font-family: "Montserrat-encabezados";
  text-align: center;
  margin: 10px;
}
main .info-nosotros p {
  font-family: "Montserrat-parrafos";
  text-align: justify;
  margin-bottom: 5px;
  font-weight: bolder;
}

/*MEDIA QUERY*/
/*Mobile*/
@media only screen and (min-width: 320px) and (max-width: 500px) {
  .container-fluid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Logo-nav {
    width: 45%;
    margin: 5%;
  }
  .Section-footer h5 {
    font-size: medium;
  }
  .Section-footer p {
    font-size: small;
  }
  .container-items {
    display: grid;
    grid-auto-flow: column;
    gap: 0;
  }
  .mapa {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 95%;
  }
  .info-contacto {
    text-align: center;
  }
}
/*Tablet*/
@media only screen and (min-width: 501px) and (max-width: 992px) {
  .container-fluid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Logo-nav {
    width: 45%;
    margin: 5%;
  }
  .container-items {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-area: auto;
  }
  .mapa {
    display: flex;
    margin: 5px;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  .info-contacto {
    text-align: justify;
  }
}
/*Desktop*/
@media only screen and (min-width: 992px) {
  .Logo-nav {
    width: 70%;
  }
  .container-fluid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .collapse {
    margin-left: 45%;
  }
  .Section-footer-img div img {
    width: 30%;
  }
  .carousel-inner div img {
    width: 60%;
  }
}/*# sourceMappingURL=style.css.map */